.DS_Store
*.gem
.bundle
Gemfile.lock
node_modules/*
!node_modules/.bin
!node_modules/uglify-js
!node_modules/clean-css
pkg
spec/fixtures/assets/*/.change.yml
spec/fixtures/assets/compressed
spec/fixtures/assets/compressed/*
spec/fixtures/builds
spec/fixtures/builds/*
tmp